@model HR_TrackingTool.Models.Applied_Jobs

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Applied_Jobs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date_Recevied)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Recevied)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Job_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorPOC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorPOC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Submitted_Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Submitted_Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Candidates_Submitted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Candidates_Submitted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Additional_Info)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Additional_Info)
        </dd>

      

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Job_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
