<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/MVCGridHandler.axd/script.js"></script>
</head>
<body>
    
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo">
                        <a href="~/Home"><img id="logo-header" src="~/Images/logo2-default.png" height="60" width="142" alt="Logo" /></a>
                    </div><!-- /logo -->

                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                        <div class="navbar-collapse collapse navbar-right">
                            <ul class="nav navbar-nav">
                              <li>  @Html.ActionLink("Login", "Login", "UserLogin")</li>
                                </ul>
</div>
                 

                </div>

            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
    
    <footer>
        <p>&copy; @DateTime.Now.Year - Lenora Systems</p>
    </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
